:root
    
/*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */


 body{
    font-family: sans-serif;
 }   

 header{
    width: 80%;
    height: 95vh;
    /*border: 1px solid #000;*/
    margin: auto;
 }


 
header nav{
    width: 95%;
    height: 7%;
    /*border: 1px solid #000;*/
    margin-left: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


header .logo{
    font-size: 1.2rem;
    color: #333;
    font-weight: bolder;
    text-decoration: none;
    text-transform: capitalize;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0; padding: 0;
      box-sizing: border-box;
      outline: none; border: none;
      
  }
  
  header .logo span{
    color: #ff8c00;
    text-decoration: none;
    text-transform: capitalize;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0; padding: 0;
      box-sizing: border-box;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      outline: none; border: none;
  }




header .content{
    position: relative;
    width: 100%;
    height: 93%;
    /*border: 1px solid #000;*/
}

header .content::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 80%;
    /*border: 1px solid #000;*/
    background: url('1.jpg') no-repeat center center/cover;
    border-radius: 10px;
    z-index: -1;

}

header .content .cont_bx{
    width: 100%;
    height: auto;
    color: #fff;
    padding: 30px;
}

header .content .cont_bx h1{
    text-align: center;
    font-size: 6rem;
    line-height: 40px;
    font-weight: 800;
    color:  whitesmoke;
    padding: 8%;
    /*margin:0;*/
   /* border: 1px solid #000;*/
}


.touchsearch{
    margin-top: 0%;
    padding: 6% 0rem;

}

.touchsearch .form{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 1.5rem;
    align-items: center;

}

.touchsearch .form .inputline{
    border: 1px solid #fff;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 1rem;
    background-color: #fff;
    border-radius: 2rem;
}

.touchsearch .form .inputline .inputlabel{
    font-size: 15px;
    font-weight: 600;
    color: #000000;
}

.touchsearch .form .inputline .input-field{
    font-size: 10px;
    color: #121312;
    padding: 0.5rem 0.2rem;
    border: none;
    background-color: transparent;
}

.touchsearch a{
    position: absolute;
    text-decoration: none;
    margin: 2% 0% 0% 37%;
    border-radius: 2px solid rgba(0, 0, 0, 0.5);
    color: #ffffff;
    background-color: #000000;
    font-size: 1rem;
    padding: 6px 115px;   
    border-radius: 20px; 
    transition: .3s linear;
  }
    
  .touchsearch a:hover{
    background:linear-gradient(rgba(0, 0, 0, 0.4)50%, rgba(0, 0, 0, 0.4)50%);
  }


/**/
 
.trip_bx .travel_bx {
    position: relative;
    top: 80px;
}

.trip_bx .travel_bx .cards {
    display: flex;
}

.trip_bx .travel_bx .cards .card {
   
    width: 100%;
    /*border: 1px solid #000;*/
    position: relative;
    padding: 30px;
}

.trip_bx .travel_bx .cards .card h3 {
    text-align: center;
   
}


.trip_bx .travel_bx .cards .card .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.trip_bx .travel_bx .cards .card .overlay img {
    width: 240px;
    height: 135px;

}

.trip_bx .travel_bx .cards .card:hover .overlay {
    opacity: 1;
}



  /**/

.trip_bx .trvl_bx {
    position: relative;
    top: 80px;
}

.trip_bx  .trvl_bx .cnames {
    display: flex;
}

.trip_bx .trvl_bx .cnames .acard {
   
    width: 100%;
    /*border: 1px solid #000;*/
    position: relative;
    padding: 30px;
}

.trip_bx .trvl_bx .cnames .acard h3 {
    text-align: center;
  
}


.trip_bx .trvl_bx .cnames .acard .overlayy {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.trip_bx .trvl_bx .cnames .acard .overlayy img {
    width: 240px;
    height: 135px;
}

.trip_bx .trvl_bx .cnames .acard:hover .overlayy {
    opacity: 1;
}









/* Section Styles */
section {
    margin: 14% 0 0 0;
    /*border: 1px solid #000;*/
}

/* Heading Styles */
section .heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

section .heading .title-h{
    font-size: 34px;
    line-height: 44px;
    text-transform: uppercase;
    color: #ea8e1d;

}

section .heading .subt-h{
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    text-transform: capitalize;
    color: #ff8c00;

}

section .heading .desc-h {
    font-size: 1rem;
    line-height: 1.4375rem; 
    text-transform: capitalize;
    color: #000000;
    max-width: 700px;
    text-align: center;
}

/* Count Places Styles */
.count-places .coun-t h2 {
    margin: 0;
}

.count-places .row-container {
    transition: 0.3s;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}

.count-places .row-container .count-img img {
    position: relative;
    display: flex;
    width: 100%;
    height: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.col .title h1 {
    margin-top: 0;
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--text-dark);
}

.col p {
    margin-bottom: 1rem;
}

.count-places .rate {
    justify-content: space-between;
    margin-bottom: 3rem;
}

/* Rate Styles */
.rate h4 {
    margin: 0;
    font-size: 1.7rem;
}

.rate h3 {
    font-size: 0.9rem;
}

.rate a {
    margin: 0 0 0 80%;
    text-decoration: none;
    border-radius: 2px solid rgba(0, 0, 0, 0.5);
    color: #ffffff;
    background-color: #000000;
    font-size: 18px;
    padding: 6px 10px;
    transition: .3s linear;
}

.rate a:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.4) 50%);
}

/* Rating Styles */
.rating {
    margin-top: 5px;
}

.rating span {
    margin: 0 0 0 1%;
    float: right;
    font-size: 0.9rem;
    color: goldenrod;
}

.rating p {
    font-size: 12px;
    margin: 0 0 0 90%;
}

#back-to-top-btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 24px;
    width: 40px;
    height: 40px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease-in-out;
  }
  
  #back-to-top-btn:hover {
    background-color:  #ff7b00;
  }
  


